<h2>Совместимость с браузерами</h2>
<table width="230px">
  <tr>
    <th>Браузер</th>
    <th>Версия</th>
  </tr>
  <tr>
    <td><img src="{{Url}}logos/chrome.png" alt=""></td>
    <td>29+</td>
  </tr>
  <tr>
    <td><img src="{{Url}}logos/opera.png" alt=""></td>
    <td>16+</td>
  </tr>
  <tr>
    <td><img src="{{Url}}logos/ie.png" alt=""></td>
    <td>10, 11<sup>*</sup>, Edge</td>
  </tr>
</table>
<p></p>
<p>Совместимость сервиса с браузерами получена при помощи платформы <a
    href="https://www.browserstack.com/">BrowserStack</a>.</p>
<p><sup>*</sup> При использовании Internet Explorer 11 сервис таксировки груза должен быть добавлен в список надежных
  узлов в
  настройках браузера.</p>
<div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:15px;padding:3px;">
  <div class="ui-g-12 ui-lg-12">
    <div class="ui-g-1 ui-md-2 ui-lg-1">
      <button type="button" pButton  (click)="handleBack()">
        <!-- <img  height="20" src="{{Url}}icons/back.svg">   -->
        <img  height="20" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTExLjQ2LDguMjlhMSwxLDAsMCwwLTEuNDIsMGwtMywzYTEsMSwwLDAsMCwwLDEuNDJsMywzYTEsMSwwLDAsMCwxLjQyLDAsMSwxLDAsMCwwLDAtMS40Mkw5LjE2LDEybDIuMy0yLjI5QTEsMSwwLDAsMCwxMS40Niw4LjI5Wk0xNC42NiwxMiwxNyw5LjcxYTEsMSwwLDAsMC0xLjQyLTEuNDJsLTMsM2ExLDEsMCwwLDAsMCwxLjQybDMsM2ExLDEsMCwwLDAsMS40MiwwLDEsMSwwLDAsMCwwLTEuNDJaIi8+PC9zdmc+">  
      </button>
    </div>
    <div class="ui-g-1 ui-md-10 ui-lg-11">
    </div>
  </div>
</div>