<style>
  .keys{
    color:blue;
  }
</style>  
<h3>Внимание: несовпадение версий интерфейса на сервере и работающей! Обновите кэш браузера в соответствии с шагами,
  приведенными далее.</h3>
<p>Для актуализации версии веб-приложения необходимо в браузере Chrome нажать комбинацию клавиш 
  <span class="keys" >Ctrl+Shift+Del</span>. В окне  очистки истории выбрать вкладку Дополнительные. В данной вкладке выбрать только опцию Изображения и другие файлы, сохраненные в кэше. 
  После нажатия кнопки Удалить данные закрыть окно очистки данных браузера и заново войти в 
  сервис расчета тарифа.</p>
<p>Для Internet Explorer также нажать комбинацию клавиш <span class="keys">Ctrl+Shift+Del</span>. В окне Очистка истории обзора
    выбрать опции Удалить данные избранных веб-сайтов, Временные файлы Интернета и веб-сайтов и Файлы cookies и данные веб-сайтов, остальные опции выбирать не требуется.
    После нажатия кнопки Удалить закрыть окно Очистка истории обзора и заново войти в 
    сервис расчета тарифа. </p>
<p>После проделанной процедуры версия сервиса расчета тарифа должна актуализироваться.</p>
<!-- <p [innerHTML]="originalStr|boldSpan:regexStr"></p> -->
